### Maven ###
target/
src/jbake/assets/vendor
src/jbake/jbake.properties
release.properties
pom.xml.versionsBackup
pom.xml.next
pom.xml.tag
pom.xml.releaseBackup
dependency-reduced-pom.xml

### misc ###
archives/
archive/
*.bak
*.xml___
*.properties___

### package files ###
*.jar

### Eclipse ###
bin/
Copy of*

/ROADMAP.txt
